@import "../../styles/animation.scss";

.wrapper {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.image {
  max-height: 85vh;
  background-color: white;
  margin: 0;
}

.share {
  background-color: rgba(255,255,255, .8);
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeInDown .3s .5s normal forwards ease;
}
