.container {
  text-align: center;
}

.title {
  font-size: 1em;
  font-weight: normal;
}

.image {
  height: auto;
  max-width: 100%;
}

.btn {
  composes: btn from '../lib/Button/Button.module.scss';
}
