@charset "utf-8";
// my:
@import "variables";
@import "links";

// bulma:
$link: $link-color;
$info: $link-color;

$navbar-height: 3.25rem; // hot fix bulma bug

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/all";

@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/other";
@import "~bulma/sass/elements/tag";

@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/pagination";
@import "~bulma/sass/components/modal";

.app {
  min-height: 70vh;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: $grey-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-light;
  border: 1px solid $grey-lighter;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($grey-light, 10%);
}
