@charset "utf-8";
@import "variables";

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: $color-grey-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: $color-grey-light;
  border: 1px solid $color-grey-lighter;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($color-grey-light, 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: whitesmoke;
}

body {
  margin: $menu-height 0 0 0;
  padding: 0;
  font-family: $base-font;
  background-color: whitesmoke;
}

a {
  color: $link-color;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

#root {
  min-height: 70vh;
  padding: 3rem 1.5rem;
}
