@charset "utf-8";
// my:
@import "variables";

// bulma:
$link: $link-color;
$info: $link-color;

$navbar-height: 3.25rem; // hot fix bulma bug

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/all";

@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/other";

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
  background-color: $grey-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-light;
  border: 1px solid $grey-lighter;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($grey-light, 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: whitesmoke;
}

body {
  margin: $menu-height 0 0 0;
  padding: 0;
  font-family: $base-font;
  background-color: whitesmoke;
}

.app {
  min-height: 70vh;
}

.link {
  color: $color-gray;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  
  &:hover {
    text-decoration: none;
  }
}

.link--github:hover {
  color: #000;
}

.link--twitter:hover {
  color: #4AB9FB;
}

.link--linkedin:hover {
  color: #0073B2;
}
