@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sekga7') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sekga7') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}

.link {
  color: $color-gray;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  
  &:hover {
    text-decoration: none;
  }
}

.link--github:hover {
  color: #000;
}

.link--twitter:hover {
  color: #4AB9FB;
}

.link--linkedin:hover {
  color: #0073B2;
}
