$link-color: #007ACC;
$color-pink: #D7598B;
$color-gray: hsl(0, 0%, 48%);
$disabled-color: lightgray;

// icon footer
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-back: "\e903";
$icon-chevron-up: "\e904";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-refresh: "\e900";
$icon-calendar: "\e953";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
