@import "~/../src/styles/variables";

$margin-between: 2px;
$size-item: 38px;

.pagin {
  &__list,
  &__item,
  &__arrow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__item,
  &__arrow {
    margin-left: $margin-between;
    margin-right: $margin-between;
  }

  &__link,
  &__break {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__link {
    font-size: 15px;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: $size-item;
    height: $size-item;
    line-height: $size-item;

    &:hover,
    &:focus {
      border-color: $disabled-color;
    }
  }

  &__break {
    margin-left: $margin-between;
    margin-right: $margin-between;
    height: $size-item;
    line-height: $size-item;
    color: $disabled-color;
  }

  &__arrow > &__link {
    color: $link-color;
  }

  &__arrow.pagin__disabled > &__link {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
    color: $disabled-color;
    border-color: transparent;
  }

  &__active > &__link {
    cursor: default;
    pointer-events: none;
    color: white;
    border-color: $link-color;
    background-color: $link-color;
  }
}
