@import "~/../src/styles/variables";

.section {
  padding: 3rem 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
  background-color: $disabled-color;
  width: 100%;
}

.link {
  color: $color-gray;
  font-size: 18px;
  display: inline-block;
  padding: 10px 20px;
  
  &:hover {
    text-decoration: none;
  }
}

.github {
  composes: link;

  &:hover {
    color: #000;
  }
}

.twitter {
  composes: link;

  &:hover {
    color: #4AB9FB;
  }
}

.linkedin {
  composes: link;

  &:hover {
    color: #0073B2;
  }
}
