.post {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  color: #4a4a4a;
  display: block;
  padding: 1.25em;
  margin: 0 auto 1.5em;
  max-width: 600px;
  min-height: 200px;
  background-color: #fff;
  text-align: center;
}

.box {
  padding: 1em;
  margin: 0;
}

.title {
  font-weight: normal;
  margin: 0.5em;
}

.img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  max-height: 40vh;
}
